@model BlogMvcApp.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        
           <h1>@Model.Title</h1>
            <hr/>
            <p>
                <span class="glyphicon glyphicon-time"></span>
                @Model.AddingDate
            </p>
            <hr/>
            <img class="img-responsive" src="http://placehold.it/800x300" alt="" />
            <hr/>
            <blockquote>
                <p>@Model.Description</p>
            </blockquote>
            <p>
                @Model.Content
            </p>
            <hr/>
            <div class="comment">
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <hr />
        
        
    </dl>
</div>
@section RightColon
{
    <h4>Blog Search</h4>
    <div class="input-group">
        <input type="text" class="form-control" />
        <span class="input-group-btn">

        </span>
    </div>
}
<div>

    <a asp-action="Edit" asp-route-id="@Model?.BlogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
