@model IEnumerable<BlogMvcApp.Models.Category>

<div class="well">
	<h4>Categories</h4>

	<div class="row">
		@foreach(var i in Model)
		{
			<div class="col-lg-6">
				<ul class="list-unstyled">
					<li>
						@Html.ActionLink(i.CategoryName, "List", "Category", new { id = i.CategoryId })
					</li>
				</ul>
			</div>
		}
		
	</div>
</div>
